.landing-pagei-care-container {
  min-height: 100vh;
}
.landing-pagei-care-landing-pagei-care {
  width: 100%;
  height: 1843px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-top-navigation-bar {
  display: flex;
  padding: 21px 135px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: var(--dl-color-neutral-neu00);
}
.landing-pagei-care-frame94725 {
  width: 1170px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.landing-pagei-care-amoeba-logo061 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-amoeba-logo0611 {
  width: 100px;
  height: 42px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-frame94726 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.landing-pagei-care-nav-links {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.landing-pagei-care-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 26px;
  margin-right: 32px;
  margin-bottom: 0;
}
.landing-pagei-care-button {
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-accent_amoeba-black-white-abw400);
}
.landing-pagei-care-text02 {
  color: var(--dl-color-neutral-neu00);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 17px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-hero-section {
  display: flex;
  padding: 2px 0;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 1);
}
.landing-pagei-care-main-page {
  width: 1441px;
  height: 862px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
  background-color: rgba(238, 238, 238, 1);
}
.landing-pagei-care-main-page-notes {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: -100px;
  flex-direction: column;
}
.landing-pagei-care-text04 {
  color: rgba(0, 0, 0, 1);
  width: 646px;
  height: auto;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  text-align: left;
  line-height: 46px;
  margin-right: 0;
  margin-bottom: 36px;
}
.landing-pagei-care-designnote {
  width: 460px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 36px;
  flex-direction: column;
}
.landing-pagei-care-textandbadge {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.landing-pagei-care-text09 {
  color: var(--dl-color-neutral-neu900);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-pagei-care-text11 {
  color: var(--dl-color-neutral-neu600);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: justified;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-pagei-care-link {
  display: contents;
}
.landing-pagei-care-jelajah {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 1000px;
  justify-content: center;
  background-color: var(--dl-color-accent_orange-aor800);
}
.landing-pagei-care-text13 {
  color: var(--dl-color-neutral-neu00);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 17px;
  margin-right: 8px;
  margin-bottom: 0;
}
.landing-pagei-care-arrowarrowright2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.landing-pagei-care-arrowarrowright21 {
  width: 12px;
  height: 12px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-bannerpicture {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-bannerpicture1 {
  width: 773px;
  height: 722px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-second-main-page {
  width: 1441px;
  display: flex;
  padding: 34px 74px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(241, 140, 100, 1);
}
.landing-pagei-care-card-landing-page-vertical {
  width: 282.8524169921875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  flex-direction: column;
}
.landing-pagei-care-card {
  display: flex;
  padding: 24px;
  position: relative;
  align-self: stretch;
  box-shadow: 3.124422550201416px 6.248845100402832px 13.018426895141602px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.1899999976158142);
  border-style: solid;
  border-width: 0.5207370519638062px;
  border-radius: 10.935478210449219px;
  flex-direction: column;
  background-color: var(--dl-color-primary-pr00);
}
.landing-pagei-care-frame94622 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.landing-pagei-care-frame946221 {
  width: 235px;
  height: 179px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-frame94683 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-textarea {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.landing-pagei-care-titletext {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 12px;
  flex-direction: column;
}
.landing-pagei-care-text15 {
  color: var(--dl-color-accent_violet-avio600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 15px;
  margin-right: 0;
  margin-bottom: 2px;
}
.landing-pagei-care-text17 {
  color: var(--dl-color-neutral-neu900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-filltext {
  width: 234.8524169921875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-text19 {
  color: var(--dl-color-neutral-neu1000);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 3.124422550201416px;
}
.landing-pagei-care-text21 {
  color: var(--dl-color-neutral-neu400);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-button1 {
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-accent_orange-aor800);
}
.landing-pagei-care-text23 {
  color: var(--dl-color-neutral-neu00);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 17px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-card-landing-page-vertical1 {
  width: 282.8524169921875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  flex-direction: column;
}
.landing-pagei-care-card1 {
  display: flex;
  padding: 24px;
  position: relative;
  align-self: stretch;
  box-shadow: 3.124422550201416px 6.248845100402832px 13.018426895141602px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.1899999976158142);
  border-style: solid;
  border-width: 0.5207370519638062px;
  border-radius: 10.935478210449219px;
  flex-direction: column;
  background-color: var(--dl-color-primary-pr00);
}
.landing-pagei-care-frame946222 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.landing-pagei-care-frame946223 {
  width: 235px;
  height: 179px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-frame946831 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-textarea1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.landing-pagei-care-titletext1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 12px;
  flex-direction: column;
}
.landing-pagei-care-text25 {
  color: var(--dl-color-accent_violet-avio600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 15px;
  margin-right: 0;
  margin-bottom: 2px;
}
.landing-pagei-care-text27 {
  color: var(--dl-color-neutral-neu900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-filltext1 {
  width: 234.8524169921875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-text29 {
  color: var(--dl-color-neutral-neu1000);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 3.124422550201416px;
}
.landing-pagei-care-text31 {
  color: var(--dl-color-neutral-neu400);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-button2 {
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-accent_orange-aor800);
}
.landing-pagei-care-text33 {
  color: var(--dl-color-neutral-neu00);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 17px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-card-landing-page-vertical2 {
  width: 282.8524169921875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 53px;
  flex-direction: column;
}
.landing-pagei-care-card2 {
  display: flex;
  padding: 24px;
  position: relative;
  align-self: stretch;
  box-shadow: 3.124422550201416px 6.248845100402832px 13.018426895141602px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.1899999976158142);
  border-style: solid;
  border-width: 0.5207370519638062px;
  border-radius: 10.935478210449219px;
  flex-direction: column;
  background-color: var(--dl-color-primary-pr00);
}
.landing-pagei-care-frame946224 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.landing-pagei-care-frame946225 {
  width: 235px;
  height: 179px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-frame946832 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-textarea2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.landing-pagei-care-titletext2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 12px;
  flex-direction: column;
}
.landing-pagei-care-text35 {
  color: var(--dl-color-accent_violet-avio600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 15px;
  margin-right: 0;
  margin-bottom: 2px;
}
.landing-pagei-care-text37 {
  color: var(--dl-color-neutral-neu900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-filltext2 {
  width: 234.8524169921875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-text39 {
  color: var(--dl-color-neutral-neu1000);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 3.124422550201416px;
}
.landing-pagei-care-text41 {
  color: var(--dl-color-neutral-neu400);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-button3 {
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-accent_orange-aor800);
}
.landing-pagei-care-text43 {
  color: var(--dl-color-neutral-neu00);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 17px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-text45 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  text-align: left;
  line-height: 46px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-footer {
  display: flex;
  padding: 60px 125px;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-pr00);
}
.landing-pagei-care-footer-group {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.landing-pagei-care-footer-group1 {
  width: 1191px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.landing-pagei-care-footer-section-group {
  width: 376px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 104px;
  flex-direction: column;
}
.landing-pagei-care-logoimage {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 5px;
  flex-direction: column;
}
.landing-pagei-care-logoamoeba1 {
  width: 154px;
  height: 63px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-footer-paragraph {
  width: 330px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.landing-pagei-care-text47 {
  color: var(--dl-color-primary-pr500);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Roboto;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-pagei-care-footer-section-group1 {
  width: 711px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.landing-pagei-care-footer-section {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
}
.landing-pagei-care-subsection-group {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.landing-pagei-care-text52 {
  color: var(--dl-color-primary-pr500);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 0;
}
.landing-pagei-care-footer-section1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.landing-pagei-care-subsection-group1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 12px;
  justify-content: center;
}
.landing-pagei-care-logo-indi-home-aktifitas-tanpa-batas-color1 {
  width: 192px;
  height: 61px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-logoimage1 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.landing-pagei-care-logo-amoeba {
  width: 180px;
  height: 32px;
  position: relative;
  border-color: transparent;
}
.landing-pagei-care-divider {
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.landing-pagei-care-copyright {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.landing-pagei-care-text54 {
  color: var(--dl-color-primary-pr400);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 23px;
  margin-right: 0;
  margin-bottom: 0;
}
