:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-primary-pr00: rgba(255, 255, 255, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-neutral-neu00: rgba(255, 255, 255, 1);
  --dl-color-primary-pr400: rgba(124, 124, 127, 1);
  --dl-color-primary-pr500: rgba(84, 85, 89, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-neutral-neu400: rgba(124, 124, 127, 1);
  --dl-color-neutral-neu600: rgba(54, 55, 60, 1);
  --dl-color-neutral-neu900: rgba(40, 41, 46, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-neutral-neu1000: rgba(35, 36, 39, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-accent_orange-aor800: rgba(177, 55, 6, 1);
  --dl-color-accent_violet-avio600: rgba(63, 25, 183, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-accent_amoeba-black-white-abw400: rgba(124, 124, 127, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.paragraph\(Body\)P16Regular {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.labelL14SemiBold {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 600px;
  font-stretch: normal;
}
.headingH1Bold {
  font-size: 36px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700px;
  font-stretch: normal;
}
.paragraph\(Body\)P10Regular {
  font-size: 10px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.headingH3Bold {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700px;
  font-stretch: normal;
}
.paragraph\(Body\)P14ExtraBold {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 800px;
  font-stretch: normal;
}
.paragraph\(Body\)P14Regular {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.headingH3Medium {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.headingH4Medium {
  font-size: 18px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
